{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Baseball Project</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="diamond single"><div class=text>1B</div></div>
    <div class="diamond double"><div class=text>2B</div></div>
    <div class="diamond triple"><div class=text>3B</div></div>
    <div class="diamond hr"><div class=text>HR</div></div>

    <div class="diamond single"><div class=text>HBP</div></div>


<!-- 
    <div class=sqr-diamond><p>HR</p></div>

    <div id=triangle-up></div> -->


  <script src="js/scripts.js"></script>
</body>
</html>
